<div class="container">
  <div class="items-head">
    <p>appeals</p>
    <hr>
  </div>
<div class="items-body">
<div *ngIf=isVisible>
  <div *ngFor='let appeal of appealInfo?.appeals; index as i'>
    <ul>
      <div class="items-body-content">
        <button class='appeal-button' (click)="goToUpdateAppealInfo()">Appeal n°{{i+1}}</button>
        <i class="fa fa-angle-right"></i>
      </div>
      <li>Type: {{ appeal.appealType }}</li>
      <li>Status: {{ appeal.status }}</li>
      <li>Creationdate: {{ appeal.creationDate }}</li>
      <li>Message: {{appeal.message}}</li>
      <li *ngIf=appeal.firstDatePlanning>First date: {{ appeal.firstDatePlanning }}</li>
      <li *ngIf=appeal.secondDatePlanning>Second date: {{ appeal.secondDatePlanning }}</li>
    </ul>
</div>
</div>
</div>
<div class='outlet' *ngIf=!isVisible>
<router-outlet></router-outlet>
</div>