<div class="grid-container">
    <div class="grid-item" id="grid-item-1">
        <fm-sidebar></fm-sidebar>
    </div>
    <div class="grid-item" id="grid-item-2">
        <fm-navbar></fm-navbar>
    </div>
    <div class="grid-item" id="grid-item-3">
        <fm-driverdetails>
        </fm-driverdetails>
    </div>
    <div class="grid-item" id="grid-item-4">
        <fm-appealinfo>
        </fm-appealinfo>
    </div>
    <div class="grid-item" id="grid-item-5">
        <fm-fuelcardinfo>
        </fm-fuelcardinfo>
    </div>
    <div class="grid-item" id="grid-item-6">
        <fm-vehicleinfo>
        </fm-vehicleinfo>
    </div>
    <div class="grid-item" id="grid-item-7">
        <fm-footer></fm-footer>
    </div>
</div>