
    <div *ngIf= isVisible >
        <p> has warnings: {{vehicleInfo?.hasWarnings}}  </p>
        <p> has succeeded: {{vehicleInfo?.hasSucceeded}}  </p>
        <p> has paging: {{vehicleInfo?.hasPaging}}  </p>
        <p> pagesize: {{vehicleInfo?.executionPaging?.pageSize}}  </p>
        <p> total pages: {{vehicleInfo?.executionPaging?.totalPages}}  </p>
        <p> has next: {{vehicleInfo?.executionPaging?.hasNext}}  </p>
        >
        <div *ngFor='let vehicle of vehicleInfo?.vehicleDetails'>
            <p>
               {{ vehicle.identity.brand }}
            </p>
        </div>
        <
      
        <button>
          <a class='nav-link' (click)= "goToUpdateVehicleInfo()">updateVehicleInfo</a>
        </button>   
      </div>
        
      <div class='container' *ngIf= !isVisible>
        <router-outlet></router-outlet>
      </div>
      