<div class="container">
  <div class="items-head">
    <p>Vehicles</p>
    <hr>
  </div>
<div class="items-body">
<div *ngIf=isVisible>
  <div *ngFor='let vehicle of vehicleInfo?.vehicleDetails; index as i'>
    <ul>
      <div class="items-body-content">
        <button class='vehicledetails-button' (click)="goToUpdateVehicleInfo()">vehicle n°{{i+1}}</button>
        <i class="fa fa-angle-right"></i>
      </div>
      <li>Fueltype: {{ vehicle.identity.fuelType }}</li>
      <li>Brand: {{ vehicle.identity.brand }}</li>
      <li>Model: {{ vehicle.identity.model }}</li>
      <li>Licenseplate: {{ vehicle.identity.licensePlates }}</li>
      <li>Mileage: {{ vehicle.mileage }}</li>
      <div *ngFor='let maintenance of vehicle.maintenance'>
        <li>Still needs maintenanceinfo</li>
      </div>
      <div *ngFor='let repare of vehicle.reparations'>
        <li>Still needs repareinfo</li>
      </div>
      <div *ngFor='let driverVehicle of vehicle.driverVehicles'>
        <li>Current vehicle: {{ driverVehicle.active }}</li>
        <li>Startdate: {{ driverVehicle.creationDate }}</li>
        <li *ngIf!=driverVehicle.active>Closuredate: {{ driverVehicle.closureDate }}</li>
      </div>
    </ul>
</div>
</div>
</div>
<div class='outlet' *ngIf=!isVisible>
<router-outlet></router-outlet>
</div>