
<p> Name: {{driverDetails?.identity?.firstName}} {{driverDetails?.identity?.name}} </p>  
<p> birthday: {{driverDetails?.identity?.dateOfBirth}}</p>  
<p> NIN: {{driverDetails?.identity?.nationalInsuranceNumber}}</p>  
<p> driversLicenseType: {{driverDetails?.driversLicenseType}} </p>  
<p> emailaddress: {{driverDetails?.contactinfo?.emailAddress}} </p>  
<p> Phonenumber: {{driverDetails?.contactinfo?.phoneNumber}} </p>  
<p> address: {{driverDetails?.contactinfo?.address?.street}} {{driverDetails?.contactinfo?.address?.streetNumber}} </p>  
<p> {{driverDetails?.contactinfo?.address?.city}} {{driverDetails?.contactinfo?.address?.postcode}} </p>  
<p> in service: {{driverDetails?.inService}} </p> 

