<div class='card'>
          <div class='row'>
            <div class='col-md-4'>Name:</div>
            <div class='col-md-8'>{{driverDetails?.identityPerson?.firstName}} {{driverDetails?.identityPerson?.name}}</div>
          </div>

          <div class='row'>
            <div class='col-md-4'>Code:</div>
            <div class='col-md-8'>{{driverDetails?.identityPerson?.nationalInsuranceNumber}}</div>
          </div>

          <div class='row'>
            <div class='col-md-4'>dateOfBirth:</div>
            <div class='col-md-8'>{{driverDetails?.identityPerson?.dateOfBirth}}</div>
          </div>

          <div class='row'>
            <div class='col-md-4'>emailAddress:</div>
            <div class='col-md-8'>{{driverDetails?.contactInfo?.emailAddress}}</div>
          </div>

          <div class='row'>
            <div class='col-md-4'>phoneNumber:</div>
            <div class='col-md-8'>{{driverDetails?.contactInfo?.phoneNumber}}</div>
          </div>

          <div class='row'>
            <div class='col-md-4'>Address:</div>
            <div class='col-md-8'>{{driverDetails?.contactInfo?.address?.street}} {{driverDetails?.contactInfo?.address?.streetNumber}}</div>
            <div class='col-md-8'>{{driverDetails?.contactInfo?.address?.city}} {{driverDetails?.contactInfo?.address?.Postcode}}</div>
          </div>

          <div class='row'>
            <div class='col-md-4'>driversLicenceType:</div>
            <div class='col-md-8'>{{driverDetails?.driversLicenceType}}</div>
          </div>

          <div class='row'>
            <div class='col-md-4'>inService:</div>
            <div class='col-md-8'>{{driverDetails?.inService}}</div>
          </div>
 </div>